<Config>
    <!-- This struct follows the conventions as given in -->
    <!-- http://pdg.lbl.gov/2007/reviews/montecarlorpp.pdf -->
    <ParticleConfig>
        <Particle>
            <Key>downq</Key>
            <Name>Down</Name>
            <Family>Quark</Family>
            <PdgCode>1</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>upq</Key>
            <Name>Up</Name>
            <Family>Quark</Family>
            <PdgCode>2</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>strangeq</Key>
            <Name>Strange</Name>
            <Family>Quark</Family>
            <PdgCode>3</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>charmq</Key>
            <Name>Charm</Name>
            <Family>Quark</Family>
            <PdgCode>4</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>bottomq</Key>
            <Name>Bottom</Name>
            <Family>Quark</Family>
            <PdgCode>5</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>topq</Key>
            <Name>Top</Name>
            <Family>Quark</Family>
            <PdgCode>6</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>electron</Key>
            <Name>Electron</Name>
            <Family>Lepton</Family>
            <PdgCode>11</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutrinoelectron</Key>
            <Name>Electron Neutrino</Name>
            <Family>Lepton</Family>
            <PdgCode>12</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>muon</Key>
            <Name>Muon</Name>
            <Family>Lepton</Family>
            <PdgCode>13</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutrinomuon</Key>
            <Name>Muon Neutrino</Name>
            <Family>Lepton</Family>
            <PdgCode>14</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>tau</Key>
            <Name>Tau</Name>
            <Family>Lepton</Family>
            <PdgCode>15</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutrinotau</Key>
            <Name>Tau Neutrino</Name>
            <Family>Lepton</Family>
            <PdgCode>16</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>gluon</Key>
            <Name>Gluon</Name>
            <Family>Gauge Boson</Family>
            <PdgCode>21</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>2</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>photon</Key>
            <Name>Photon</Name>
            <Family>Gauge Boson</Family>
            <PdgCode>22</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <DOF>
                <Thermal>1.</Thermal>
            </DOF>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>zboson</Key>
            <Name>Z</Name>
            <Width>2.4952</Width>
            <Family>Gauge Boson</Family>
            <PdgCode>23</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
        </Particle>
        <Particle>
            <Key>wboson</Key>
            <Name>W</Name>
            <Family>Gauge Boson</Family>
            <PdgCode>24</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>1</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
        </Particle>
        <Particle>
            <Key>higgslight</Key>
            <Name>Light Higgs</Name>
            <Family>Higgs Boson</Family>
            <PdgCode>25</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>higgsheavy</Key>
            <Name>Heavy Higgs</Name>
            <Family>Higgs Boson</Family>
            <PdgCode>35</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>higgspseudoscalar</Key>
            <Name>Pseudoscalar Higgs</Name>
            <Family>Higgs Boson</Family>
            <PdgCode>36</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>higgscharged</Key>
            <Name>Charged Higgs</Name>
            <Family>Higgs Boson</Family>
            <PdgCode>37</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>1</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sdownlsq</Key>
            <Name>Sdown L</Name>
            <Family>Squark</Family>
            <PdgCode>1000001</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>suplsq</Key>
            <Name>Sup L</Name>
            <Family>Squark</Family>
            <PdgCode>1000002</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sstrangelsq</Key>
            <Name>Sstrange L</Name>
            <Family>Squark</Family>
            <PdgCode>1000003</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>scharmlsq</Key>
            <Name>Scharm L</Name>
            <Family>Squark</Family>
            <PdgCode>1000004</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sbottom1sq</Key>
            <Name>Sbottom 1</Name>
            <Family>Squark</Family>
            <PdgCode>1000005</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>stop1sq</Key>
            <Name>Stop 1</Name>
            <Family>Squark</Family>
            <PdgCode>1000006</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sdownrsq</Key>
            <Name>Sdown R</Name>
            <Family>Squark</Family>
            <PdgCode>2000001</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>suprsq</Key>
            <Name>Sup R</Name>
            <Family>Squark</Family>
            <PdgCode>2000002</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sstrangersq</Key>
            <Name>Sstrange R</Name>
            <Family>Squark</Family>
            <PdgCode>2000003</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>scharmrsq</Key>
            <Name>Scharm R</Name>
            <Family>Squark</Family>
            <PdgCode>2000004</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sbottom2sq</Key>
            <Name>Sbottom 2</Name>
            <Family>Squark</Family>
            <PdgCode>2000005</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>stop2sq</Key>
            <Name>Stop 2</Name>
            <Family>Squark</Family>
            <PdgCode>2000006</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>2/3</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>selectronl</Key>
            <Name>Selectron L</Name>
            <Family>Slepton</Family>
            <PdgCode>1000011</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sneutrinoselectronl</Key>
            <Name>Selectron Sneutrino L</Name>
            <Family>Slepton</Family>
            <PdgCode>1000012</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>smuonl</Key>
            <Name>Smuon L</Name>
            <Family>Slepton</Family>
            <PdgCode>1000013</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sneutrinosmuonl</Key>
            <Name>Smuon Sneutrino L</Name>
            <Family>Slepton</Family>
            <PdgCode>1000014</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>stau1</Key>
            <Name>Stau 1</Name>
            <Family>Slepton</Family>
            <PdgCode>1000015</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>sneutrinostaul</Key>
            <Name>Stau Sneutrino L</Name>
            <Family>Slepton</Family>
            <PdgCode>1000016</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>selectronr</Key>
            <Name>Selectron R</Name>
            <Family>Slepton</Family>
            <PdgCode>2000011</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>smuonr</Key>
            <Name>Smuon R</Name>
            <Family>Slepton</Family>
            <PdgCode>2000013</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>stau2</Key>
            <Name>Stau 2</Name>
            <Family>Slepton</Family>
            <PdgCode>2000015</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>-1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutralino1</Key>
            <Name>Z1</Name>
            <Family>Neutralino</Family>
            <PdgCode>1000022</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <DOF>
                <Thermal>2.</Thermal>
            </DOF>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutralino2</Key>
            <Name>Z2</Name>
            <Family>Neutralino</Family>
            <PdgCode>1000023</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutralino3</Key>
            <Name>Z3</Name>
            <Family>Neutralino</Family>
            <PdgCode>1000025</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>neutralino4</Key>
            <Name>Z4</Name>
            <Family>Neutralino</Family>
            <PdgCode>1000035</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>    
        <Particle>
            <Key>chargino1</Key>
            <Name>W1</Name>
            <Family>Chargino</Family>
            <PdgCode>1000024</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>chargino2</Key>
            <Name>W2</Name>
            <Family>Chargino</Family>
            <PdgCode>1000037</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>1</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>gluino</Key>
            <Name>Gluino</Name>
            <Family>Gaugino</Family>
            <PdgCode>1000021</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>1</Color>
                <RParity>-1</RParity>
            </Charge>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>gravitino</Key>
            <Name>Gravitino</Name>
            <Family>Gaugino</Family>
            <PdgCode>1000039</PdgCode>
            <Spin>3/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <DOF>
                <Thermal>4.</Thermal>
            </DOF>
            <Parity>1</Parity>
        </Particle>
        <Particle>
            <Key>axion</Key>
            <Name>Axion</Name>
            <Family>PQ</Family>
            <PdgCode>51</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <DOF>
                <Thermal>1.</Thermal>
                <CohOsc>1.</CohOsc>
            </DOF>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>axino</Key>
            <Name>Axino</Name>
            <Family>PQ</Family>
            <PdgCode>52</PdgCode>
            <Spin>1/2</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>-1</RParity>
            </Charge>
            <DOF>
                <Thermal>2.</Thermal>
            </DOF>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>saxion</Key>
            <Name>Saxion</Name>
            <Family>PQ</Family>
            <PdgCode>54</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <DOF>
                <Thermal>1.</Thermal>
                <CohOsc>1.</CohOsc>
            </DOF>
            <Parity>-1</Parity>
        </Particle>
        <Particle>
            <Key>pion0</Key>
            <Name>Pion0</Name>
            <Family>Meson</Family>
            <PdgCode>111</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
            </Charge>
        </Particle>
        <Particle>
            <Key>eta</Key>
            <Name>Eta</Name>
            <Family>Meson</Family>
            <PdgCode>221</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
            </Charge>
        </Particle>
        <Particle>
            <Key>rho0</Key>
            <Name>Rho0</Name>
            <Family>Meson</Family>
            <PdgCode>113</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
            </Charge>
        </Particle>
        <Particle>
            <Key>omega</Key>
            <Name>Omega</Name>
            <Family>Meson</Family>
            <PdgCode>223</PdgCode>
            <Spin>1</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
            </Charge>
        </Particle>
        <Particle>
            <Key>kaon0</Key>
            <Name>Kaon0</Name>
            <Family>Meson</Family>
            <PdgCode>311</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
            </Charge>
        </Particle>
        <Particle>
            <Key>modulus</Key>
            <Name>Modulus</Name>
            <Family>String</Family>
            <PdgCode>81</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <DOF>
                <CohOsc>1.</CohOsc>
            </DOF>
        </Particle>
        <Particle>
            <Key>alp</Key>
            <Name>ALP</Name>
            <Family>String</Family>
            <PdgCode>82</PdgCode>
            <Spin>0</Spin>
            <Charge>
                <Electromagnetic>0</Electromagnetic>
                <Color>0</Color>
                <RParity>1</RParity>
            </Charge>
            <DOF>
                <CohOsc>1.</CohOsc>
            </DOF>
        </Particle>
    </ParticleConfig>
    <ConstantsConfig>
        <Constant>
            <Key>lambdaqcd</Key>
            <Name>Lambda QCD</Name>
            <Value>0.2</Value>
        </Constant>
        <Constant>
            <Key>ncolors</Key>
            <Name>Number of Colors</Name>
            <Value>3.</Value>
        </Constant>
        <Constant>
            <Key>hbar</Key>
            <Name>Reduced Planck Constant</Name>
            <Value>6.582119569e-25</Value>        <!-- GeV * s -->
        </Constant>
        <Constant>
            <Key>planckmass</Key>
            <Name>Reduced Planck Mass</Name>
            <Value>2.435e18</Value>               <!-- GeV / c^2 -->
        </Constant>
    </ConstantsConfig>
</Config>
